apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: calibre-web
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "25"
spec:
  project: education
  source:
    repoURL: https://github.com/zsel-opole/zsel-eip-gitops.git
    targetRevision: main
    path: gitops/apps/calibre-web/manifests
  
  destination:
    server: https://kubernetes.default.svc
    namespace: edu-library
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
