apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: monitoring-system
  labels:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: prometheus
  annotations:
    metallb.universe.tf/address-pool: vlan600-management
    metallb.universe.tf/loadBalancerIPs: 192.168.255.56
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.255.56
  externalTrafficPolicy: Local
  selector:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: prometheus
  ports:
  - name: http
    port: 9090
    targetPort: 9090
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring-system
  labels:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: grafana
  annotations:
    metallb.universe.tf/address-pool: vlan600-management
    metallb.universe.tf/loadBalancerIPs: 192.168.255.57
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.255.57
  externalTrafficPolicy: Local
  selector:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: grafana
  ports:
  - name: http
    port: 80
    targetPort: 3000
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: monitoring-system
  labels:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: alertmanager
  annotations:
    metallb.universe.tf/address-pool: vlan600-management
    metallb.universe.tf/loadBalancerIPs: 192.168.255.58
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.255.58
  externalTrafficPolicy: Local
  selector:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: alertmanager
  ports:
  - name: http
    port: 9093
    targetPort: 9093
    protocol: TCP
  - name: cluster-tcp
    port: 9094
    targetPort: 9094
    protocol: TCP
  - name: cluster-udp
    port: 9094
    targetPort: 9094
    protocol: UDP

---
apiVersion: v1
kind: Service
metadata:
  name: snmp-exporter
  namespace: monitoring-system
  labels:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: snmp-exporter
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: snmp-exporter
  ports:
  - name: http
    port: 9116
    targetPort: 9116
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: node-exporter
  namespace: monitoring-system
  labels:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: node-exporter
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/component: node-exporter
  ports:
  - name: metrics
    port: 9100
    targetPort: 9100
    protocol: TCP
