apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: freeipa
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "10"
spec:
  project: core
  source:
    repoURL: git@github.com:zsel-opole/zsel-eip-gitops.git
    targetRevision: HEAD
    path: apps/freeipa/manifests
  
  destination:
    server: https://kubernetes.default.svc
    namespace: core-freeipa
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true
